<div class="content">
	<h2>Sign out</h2>
</div>
{{#if errors.length}}
	<ul>
		{{#each errors}}
			<li id="ErrorMessage">{{this}}</li>
		{{/each}}
	</ul>
{{/if}}
<form action="/accounts/sign-out" id="SignOutForm" method="POST">
	<input type="submit" value="Sign Out">
	
</form>