
<div class="content">
	<h2>Sign in</h2>
</div>
{{#if errors.length}}
	<ul>
		{{#each errors}}
			<li id="ErrorMessage">{{this}}</li>
		{{/each}}
	</ul>
{{/if}}
<form action="" id="signInAccountForm" method="POST">

	<div>Username: <input type="text" name="username" id="username" value="{{formHolder.usernameholder}}"></div>
	
	<div>Password: <input type="password" name="password" id="password"></div>
	
    <input type="submit" value="Sign in">

</form>
