<div class="content">
	<h2>Sign up</h2>
</div>

<form action="">
	
	<form id="createAccountForm" method="POST">
		
		<div>Username: <input type="text" name="username" id="username"></div>
		
		<div>Password: <input type="password" name="password1" id="password1"></div>
		
		<div>Password (repeat): <input type="password" name="password2" id="password2"></div>
		
        <input type="submit" value="Create account">
	
</form>