
<div class="BlogContainer">
    <h3 class="has-text-weight-bold">All Blog Posts</h3>
    {{#if blogPosts.length}}
    <ul>
        {{#each blogPosts}}
        <li class="todosList"><a href="/blogPosts/{{id}}">{{title}}</a></li>
        {{/each}}
    </ul>
    {{/if}}
</div>

