<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>WebProject</title>
	<link rel="stylesheet" href="/css/bulma.min.css">
	<link rel="stylesheet" href="/css/layout.css">
</head>

<body>

	<div id="entire-page">

		<header class="is-size-1 has-text-centered">
			To Do List
		</header>

		<nav class="navbar has-background-light" role="navigation" aria-label="main navigation">

			<div class="navbar-brand">
				<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
					data-target="navbar">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>

			<div id="navbar" class="navbar-menu is-active">

				<div class="navbar-start">
					<a class="navbar-item" href="/">Home</a>
					{{#if loggedIn}}
					<a class="navbar-item" href="/todolist">Your todo lists</a>
					<!--<a class="navbar-item" href="/accounts">Accounts</a>-->
					<a class="navbar-item" href="/blogPosts/create">Create a blog post</a>
					{{/if}}

					<a class="navbar-item" href="/blogPosts">Blog posts</a>
			
					{{#if loggedIn}}
					<a class="navbar-item" id="loggedAs">Signed in as: {{account.username}}</a>
					{{/if}}
				</div>

				<div class="navbar-end">
					<div class="navbar-item">
						<div class="buttons">
							{{#if loggedIn}}
							<a class="button is-danger" id="logOutButton" href="/accounts/signOut">Sign out</a>
							{{else}}
							<a class="button is-info" href="/accounts/signUp">Sign up</a>
							<a class="button is-success" id="loginButton" href="/accounts/signIn">Sign in</a>
							{{/if}}
						</div>
					</div>
				</div>

			</div>
		</nav>

		<main>{{{body}}}</main>

		<footer class="footer">
			<div class="content has-text-centered">
				The Best To do Web App |
				<a href="/about">About</a> |
				<a href="/contact">Contact</a>
			</div>
		</footer>

	</div>
</body>

</html>